<h3 class="mt-lg-5">
  Storico prestiti non restituiti (a.s. 2018-2019)
</h3>
<hr>
<table class="table">
        <thead>
          <tr>
            <th scope="col">Tipologia</th>
            <th scope="col">Cognome Nome</th>
            <th scope="col">Autore</th>
            <th scope="col">Titolo</th>
            <th scope="col">Collocazione</th>
            <th scope="col">Data Prelievo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data; let i = index">
            <th scope="row">{{ row.Student != null ? row.Student.cl : row.Prof.id > 30000 ? 'Ata' : 'Docente' }}</th>
            <td>{{ row.Prof == null ? row.Student.cogn_nome : row.Prof.cogn + ' ' + row.Prof.nome }}</td>
            <td>{{ row.Schedario.autore }}</td>
            <td>{{ row.Schedario.titolo }}</td>
            <td><a routerLink="/modprestito/{{row.id}}/{{i}}" class="link">{{ row.Schedario.collocazione }}</a></td>
            <td>{{ row.prelevato }}</td>
          </tr>
        </tbody>
</table>
