<h1 class="text-center">Consultazione</h1>
<p class="lead">
    Sono presenti nel seguente database 18914 volumi della biblioteca del Liceo, comprendenti
    tutte le novità dal 1996 a oggi e tutti i volumi della collezione classica.
</p>
<hr>
<form #ricercaForm="ngForm" class="form-signin" (ngSubmit)="cerca(ricercaForm.value)">
  <div class="form-group">
    <label for="stringa">Immetti la tua stringa di ricerca:</label>
    <input type="text"
      class="form-control" name="stringa" id="stringa" aria-describedby="helpId" placeholder="Testo della Ricerca" autofocus required ngModel>
    <small id="helpId" class="form-text text-muted">Il testo può essere sia relativo a un autore sia a un titolo.</small>
  </div>
  <div *ngIf="!ricercaForm.valid else showSubmitButton">
        <button type="submit" class="btn btn-lg btn-dark" disabled>Cerca</button>
      </div>
      <ng-template #showSubmitButton>
        <button type="submit" class="btn btn-lg btn-dark">Cerca</button>
      </ng-template>
</form>
<hr>
<div *ngIf="error && !submitted">
    <div class="alert alert-danger" role="alert">
        La ricerca non ha prodotto alcun risultato. Prova con un'altra stringa.
    </div>
</div>
<div *ngIf="del_error">
    <div class="alert alert-danger">Il libro non è stato cancellato</div>
</div>
<div *ngIf="del_success">
    <div class="alert alert-success">Il libro è stato cancellato con successo.</div>
</div>
<div *ngIf="submitted">
  <div class="alert alert-dark" role="alert">
      La ricerca ha prodotto <strong>{{libri.length}}</strong> volumi.
  </div>
  <ul *ngIf="pager.pages && pager.pages.length > 1" class="pagination justify-content-center">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
            <a (click)="setPage(1)" class="page-link">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
            <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
            <a (click)="setPage(page)" class="page-link">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
            <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
            <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
        </li>
    </ul>
  <div class="row text-dark bg-white">
  <div class="col">Action</div>
  <div class="col">Autore</div>
  <div class="col">Titolo</div>
  <div class="col">Curatore</div>
  <div class="col">Pubblicazione</div>
  <!--<div class="col">Soggetto</div>-->
  <div class="col">Collocazione</div>
</div>
<div class="row text-white bg-dark" *ngFor="let libro of pagedItems">
  <div class="col-md-2 text-dark bg-white">
      <a (click)="openModal(libro.N)"><img [src]="'assets/images/info.png'"></a>
      <a (click)="openEdit(libro.N)"><img [src]="'assets/images/edit-pencil-icon-20x20.png'"></a>
      <a *ngIf="is_signedin" (click)="openConfirmationDialog(libro.N)"><img [src]="'assets/images/delete-20.png'"></a>
      <a *ngIf="is_signedin" routerLink="/insprestito/{{libro.N}}"><img [src]="'assets/images/prestito.png'"></a>
  </div>
  <div class="col">{{libro.autore}}</div>
  <div class="col">{{libro.titolo}}</div>
  <div class="col">{{libro.curatore}}</div>
  <div class="col">{{libro.pubblicazione}}</div>
  <!--<div class="col">{{libro.soggetto}}</div>-->
  <div class="col">{{libro.collocazione}}</div>
</div>
  <ul *ngIf="pager.pages && pager.pages.length > 1" class="pagination justify-content-center">
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
        <a (click)="setPage(1)" class="page-link">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
        <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
        <a (click)="setPage(page)" class="page-link">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
        <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
        <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
    </li>
</ul>
</div>