.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #161616;
    border-color: rgb(63, 68, 68);
   
  }

.row {
    margin-top: 5px;
}

.col {
    border: solid 1px #ffffff;
    padding: 5px;
}
