<h2 class="mt-5">Inserimento Nuovo Libro</h2>
<hr>
<div *ngIf="isFormReady">
  <form [formGroup]="inserimForm" (ngSubmit)="onsubmit(inserimForm.value)">
    <div class="form-row" *ngFor="let item of res;">
      <div class="form-group col-md-6">
        <div *ngIf="item['Null'] == 'YES' else otherInput">
          <input [formControlName]="item['Field']" type="text" class="form-control" id="inputText1" placeholder="{{item['Field']}}">
        </div>
        <ng-template #otherInput>
            <input [formControlName]="item['Field']" type="text" class="form-control" id="inputText1" placeholder="{{item['Field']}}">
            <small class="text-danger">Campo obbligatorio</small>
        </ng-template>
      </div>
    </div>
    <div role="alert" class="alert alert-danger" *ngIf="errorMsg">Attenzione, libro NON inserito.</div>
    <div role="alert" class="alert alert-success" *ngIf="successAlert">Inserimento libro completato.</div>
    <button type="submit" class="btn btn-dark" [disabled]="!inserimForm.valid || successAlert">Salva libro</button>
  </form>
</div>
