<h2 class="mt-5">Inserimento Nuovo Libro</h2>
<hr>
<div *ngIf="isFormReady">
  <form [formGroup]="inserimForm" (ngSubmit)="onsubmit(inserimForm.value)">
    <div class="form-row" *ngFor="let column of inserimForm.controls | keyvalue">
      <div class="form-group col-md-6">
        <div *ngIf="!column.value.errors?.required else otherInput">
          <input [formControlName]="column.key" type="text" class="form-control control-label" id="inputText1" placeholder="{{column.key}}">
        </div>
        <ng-template #otherInput>
            <input [formControlName]="column.key" type="text" class="form-control my-input" id="inputText1" placeholder="{{column.key}}">
            <small class="text-danger bg-dark">Campo obbligatorio</small>
        </ng-template>
      </div>
      <!--
      <div class="form-group col-md-6" [class.required]="column.value.errors != null && column.value.errors.required">
        <label class="control-label" for="inputText2">{{column.key}}</label>
        <input [formControlName]="column.key" type="text" class="form-control" id="inputText2" placeholder="{{column.key}}">
      </div>
      -->
    </div>
    <button type="submit" class="btn btn-dark" [disabled]="!inserimForm.valid">Salva libro</button>
    <div role="alert" class="alert alert-danger" *ngIf="errorMsg">Attenzione, libro NON inserito.</div>
    <div role="alert" class="alert alert-success" *ngIf="successAlert">Inserimento libro completato.</div>
  </form>
</div>
