<h3 class="mt-2">Inserimento numeri rivista</h3>
  <div class="form-group">
    <label for="riviste">Gestisci la rivista, scegliendola dall'elenco sottostante:</label>
    <select [(ngModel)]="id" (change)="onchange(id)" class="form-control" name="riviste" id="riviste">
      <option *ngFor="let riv of riviste" [value]="riv.id">{{riv.titolo}}</option>
    </select>
  </div>
  <div *ngIf="id">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">titolo</th>
          <th scope="col">anno</th>
          <th scope="col">periodicità</th>
          <th scope="col">annata</th>
          <th scope="col">numero fascicolo</th>
          <th scope="col">data di arrivo</th>
          <th scope="col">note</th>
          <th scope="col">manca</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3">ZERO FOR NOW</td>
        </tr>
        <tr *ngFor="let r of rivista">
          <td scope="row">{{titolo}}</td>
          <td>{{r.anno}}</td>
          <td>{{r.periodicita}}</td>
          <td>{{r.annata}}</td>
          <td>{{r.numero_fasc}}</td>
          <td>{{r.data_di_arrivo}}</td>
          <td>{{r.note}}</td>
          <td>{{r.manca}}</td>
        </tr>
      </tbody>
    </table>
  </div>