<h2 mt-lg-4>Modifica libro</h2>
<form #libroEdit="ngForm" class="" (ngSubmit)="onsubmit(libroEdit.value, libro.N)">
  <div class="form-group" *ngFor="let row of rows">
    <small id="helpId" class="form-text text-muted">{{row}}</small>    
    <input type="text" [disabled]="row == 'N'"
    id="{{row}}" class="form-control form-control-sm" [name]="row" [(ngModel)]="libro[row]" 
    aria-described-by="helpId"><hr>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="is_success">
    <strong>Libro modificato con Successo!</strong>
  </div>
  <button type="submit" class="btn btn-dark">Salva</button>
</form>
